@charset "UTF-8";
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeueBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 0;
  background-color: inherit;
  padding: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  padding: 17px;
  border-radius: 4px;
  background: linear-gradient(181deg, #ffb548 0%, #f3af34 99.52%);
  color: #1a1917;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.title {
  font-family: Bebas;
  font-size: 80px;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subtitle {
  font-family: Bebas;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 2px;
}

.suptitle {
  color: #ffb548;
  text-align: center;
  font-family: Bebas;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 2px;
}

.text {
  color: #ffffff;
  text-align: justify;
  font-family: OpenSans;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

/*БОЛЬШИЕ КОМПОНЕНТЫ*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

/*МАЛЕНЬКИЕ КОМПОНЕНТЫ*/
.menu {
  margin-left: auto;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item {
  padding: 5px 5px;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.change-lang {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: 23px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
}
.change-lang option {
  background-color: black;
  border: none;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 25px;
}

.hero {
  height: 100vh;
  min-height: 960px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 313px;
}
.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__btn {
  margin-top: 30px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.hero__scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  margin-bottom: 53px;
  cursor: pointer;
}
.hero__scroll-down span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.about {
  position: relative;
  height: 100vh;
  min-height: 960px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -3px;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__info {
  margin-top: 256px;
}
.about__subtitle {
  max-width: 410px;
  position: relative;
}
.about__subtitle:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 711px;
  height: 1px;
  border-radius: 4px;
  left: 0;
  top: 190px;
  z-index: 10;
}
.about__text {
  position: relative;
  max-width: 365px;
  margin-top: 60px;
  margin-left: 186px;
  text-align: justify;
  line-height: 22px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.about__text p {
  z-index: 10;
}
.about__text span {
  font-weight: 700;
}
.about__text:after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 135px;
  height: 6px;
  background-color: #ffb548;
  top: 193px;
  left: 220px;
}

.swiper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 503px;
  margin-top: 190px;
}
.swiper__img {
  width: 503px;
  height: 611px;
  border-radius: 10px;
}
.swiper__button-next {
  cursor: pointer;
  max-width: 35px;
  position: absolute;
  top: 50%;
  left: calc(100% + 40px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 200;
}
.swiper-pagination {
  text-align: center;
  z-index: 100;
}
.swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 14px;
  height: 14px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 25px;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper .swiper-pagination-custom, .swiper .swiper-pagination-fraction {
  bottom: 30px;
}

.features {
  height: 100vh;
  min-height: 960px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features__container {
  padding-top: 30vh;
}
.features__info {
  margin-left: 680px;
  margin-bottom: 70px;
}

.accordeon {
  max-width: 500px;
  margin-left: 680px;
}
.accordeon__btn {
  text-align: start;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.accordeon__btn::before {
  content: "";
  position: absolute;
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordeon__btn::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0;
  left: -43px;
  top: 26px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordeon__btn--active {
  color: #ffb548;
}
.accordeon__btn--active::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}
.accordeon__btn--active::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 200%;
  left: -43px;
  top: 26px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.accordeon__text {
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: 360px;
  letter-spacing: 1px;
}